body {
    color: rgb(56, 56, 56);
    background-color: #eeeeee;
}

.container {
    margin-bottom: 10%;
}

.head {
    margin-top: 10%;
}

@media only screen and (min-width: 1090px) {
    .container {
        max-width: 960px;
        margin-bottom: 100px;
    }
  }